<h1>Create a new offer</h1>

<form action="http://localhost/createoffer" method="post">
  <p>Enter Name:</p>
  <p>PK: <input type="text" name="PK" /></p>
  <p>SK: <input type="text" name="SK" /></p>
  <p>Offer Code: <input type="text" name="OfferCode" /></p>
  <p>Offer Type: <input type="text" name="OfferType" /></p>
  <p>OfferID: <input type="text" name="OfferID" /></p>
  <p>Redeemed: <input type="text" name="Redeemed" /></p>
  <p>Active Date: <input type="text" name="ActiveDate" /></p>
  <p>End Date: <input type="text" name="EndDate" /></p>
  <p><input type="submit" value="submit" /></p>
</form>
