{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
{% endif %}
{% set navigation_bar = [
('/', '/', 'Home'),
('/Members', 'Members', 'Members'),
('/MemberOffers', 'MemberOffer', 'MemberOffer'),
('/Redeem', 'Redeem', 'Redeem'),
('/ActiveOffers', 'ActiveOffers', 'ActiveOffers'),
('/dbdetails', 'DBInfo', 'DBInfo')
] %}

<link href="/static/don.css" rel="stylesheet">

<div class="topnav">

    {% for href, id, caption in navigation_bar %}
   <a  {% if id == active_page %} class="active" {% endif%} href="{{ href|e }}">{{ caption|e }}</a>

    {% endfor %}
</div>