<h2>Create a new offer</h2>
<form action="/createoffer" method="post">
  <p>Enter Name:</p>
  <p>PK: <input type="text" name="PK" value = "BJ#OFFER" /></p>
  <p>SK: <input type="text" name="SK" value = "OFFER#tide" /></p>
  <p>Offer Code: <input type="text" name="OfferCode" value = "21474008"/></p>
  <p>Offer Type: <input type="text" name="OfferType" value = "Recommended"/></p>
  <p>OfferID: <input type="text" name="OfferID" value = "d517d523-a6d4-4f47-8e5d-c7e7f052bf11"/></p>
  <p>Redeemed: <input type="text" name="Redeemed" value = "False"/></p>
  <p>Active Date: <input type="number" name="ActiveDate" value = "20210402"/></p>
  <p>End Date: <input type="number" name="EndDate" value = "20210410"/></p>
  <p><input type="submit" value="submit" /></p>
</form>
